.NotificationType {
  span {
    padding: 2px 7px;
    border-radius: 3px;
    color:white;
    display: 'inline-block';
  }

  &.sampleVeryImportantCell {
    span {  
      // also possible! The use of theme colors:
      // background-color: "[theme:themePrimary, default:#106ebe]";    
      background: #ffb900;
    }
  }
  &.sampleWarningCell {
    span {
      background: #e81123;
    }
  }
  &.sampleInfoCell {
    span {
      background: #106ebe;
    }
  }
}
